<div class="online-contact-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">QQ群-请勿加多个</h3>
    </div>
    <div class="list-group">
      <a href="javascript: 0;"
        class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular 1区:286047042</a>
        <a href="javascript: 0;"
          class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular 2区:139357161</a>
          <a href="javascript: 0;"
            class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular 3区:473129930</a>
            <a href="javascript: 0;"
              class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular 4区:157357401</a>
    </div>
  </div>
</div>